{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }} 
    Welcome
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Welcome! {{ username | capitalize }}</h1>
    {% endif %}
    {% if user_ip %}
        <h3>Hello world!, your Ip is {{ user_ip }}</h3>
    {% else %}
        <a href="{{ url_for('index') }}"> Go to the begin</a>
    {% endif %}

    <ul>
        {% for todo in things_to_do %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
{% endblock %}
    